# ========= 固定规则 =========
*
!.gitignore
!LICENSE
# =========== 作业 ===========
!homework*/
!homework*/**/
!homework-1/**/*
!homework-2/**/*
!homework-3/**/*
# =========== 配置 ===========
!**/README.md
!**/test/**/*
.vscode/
.cache/
