# ========= 固定规则 =========
*
!.gitignore
!LICENSE
# =========== 作业 ===========
!homework*/
!homework*/**/
!homework-1/**/*
# !homework-2/**/*
# =========== 配置 ===========
!**/README.md
.vscode/
.cache/